<br />  
<h3 align="center">File Upload Using AngularJS with PHP Script</h3><br />  
<br />  
<div class="container" ng-controller="fileUploader" ng-init="select()">  
     <div class="col-md-4">  
          <input type="file" file-input="files" />  
     </div>  
     <div class="col-md-6">  
          <button class="btn btn-info" ng-click="uploadFile()">Upload</button>  
     </div>  
     <div style="clear:both"></div>  
     <br /><br />  
     <div class="col-md-3" ng-repeat="image in images">  
          <img ng-src="upload/{{image.name}}" width="200" height="200" style="padding:16px; border:1px solid #f1f1f1; margin:16px;" />  
     </div>  
</div> 